/* Variables */
$one: rgb(94, 201, 201);
$two: rgb(184, 172, 15);
$thrre: rgb(198, 43, 230);
$four: rgb(233, 27, 27);
$four_opacity: rgba($four, 0.8);
$five: rgb(104, 18, 216);
$font-size: 3.75rem;

$h: hhh;
$k: kkk;
