


.card_{
  background: #fff;
  border-radius: 4px;
  padding: 16px;
  box-shadow: 1px 1px 12px 0px rgba(0, 0, 0, 0.2);
}

.avatar_{
  width: 100px;
  height: 100px;
  border-radius: 100px;
}

.title_{
  font: {
    weight: 700;
    size: 20px;
  }
  letter-spacing: 12px;
  opacity: 0.85;
}

.main-title{
  border-left: 5px solid rgba(19, 25, 109, 1);
}

.small_{
  font-weight: 400;
  font-size: 12px;
  opacity: 0.75;
}