
.dsc-title {
  color: $one;
}

.#{$h}-title {
  color: $five;
}

.#{$k}-title {
  color: $four_opacity;
}



/* Nesting (Anidamiento) */
.as {
  color: $thrre;
  font: {
    size: #{$font-size};
    weight: 20px;
    family: Arial, Helvetica, sans-serif;
  }

  padding: {
    top: 5px;
    left: 10px;
    bottom: 8px;
  }

}