/* Maps */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
.btn-outline {
  height: 40px;
  min-width: 100px;
  background: none;
  border-radius: 5px;
  font-size: 16px;
  margin: 5px 0;
  box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.5s all ease-in-out;
}
.btn-outline-primary {
  border: 1px solid #2264dd;
  color: #2264dd;
}
.btn-outline-primary:hover {
  background: #2264dd;
  color: #fff;
}
.btn-outline-secondary {
  border: 1px solid #3acf5f;
  color: #3acf5f;
}
.btn-outline-secondary:hover {
  background: #3acf5f;
  color: #fff;
}
.btn-outline-success {
  border: 1px solid #31850a;
  color: #31850a;
}
.btn-outline-success:hover {
  background: #31850a;
  color: #fff;
}
.btn-outline-danger {
  border: 1px solid #f60d0d;
  color: #f60d0d;
}
.btn-outline-danger:hover {
  background: #f60d0d;
  color: #fff;
}
.btn-outline-dark {
  border: 1px solid black;
  color: black;
}
.btn-outline-dark:hover {
  background: black;
  color: #fff;
}
.btn-outline-blue {
  border: 1px solid #6571da;
  color: #6571da;
}
.btn-outline-blue:hover {
  background: #6571da;
  color: #fff;
}
.btn-outline-orange {
  border: 1px solid #ce890a;
  color: #ce890a;
}
.btn-outline-orange:hover {
  background: #ce890a;
  color: #fff;
}
.btn-outline-white {
  border: 1px solid #fff;
  color: #fff;
}
.btn-outline-white:hover {
  background: #fff;
  color: #fff;
}

.orange {
  background: #ce890a;
}

/*  */
.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

@media (min-width: 0) {
  .col-xs-1 {
    width: 8.3333333333%;
  }

  .col-xs-2 {
    width: 16.6666666667%;
  }

  .col-xs-3 {
    width: 25%;
  }

  .col-xs-4 {
    width: 33.3333333333%;
  }

  .col-xs-5 {
    width: 41.6666666667%;
  }

  .col-xs-6 {
    width: 50%;
  }

  .col-xs-7 {
    width: 58.3333333333%;
  }

  .col-xs-8 {
    width: 66.6666666667%;
  }

  .col-xs-9 {
    width: 75%;
  }

  .col-xs-10 {
    width: 83.3333333333%;
  }

  .col-xs-11 {
    width: 91.6666666667%;
  }

  .col-xs-12 {
    width: 100%;
  }
}
@media (min-width: 576px) {
  .col-sm-1 {
    width: 8.3333333333%;
  }

  .col-sm-2 {
    width: 16.6666666667%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-4 {
    width: 33.3333333333%;
  }

  .col-sm-5 {
    width: 41.6666666667%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-7 {
    width: 58.3333333333%;
  }

  .col-sm-8 {
    width: 66.6666666667%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-10 {
    width: 83.3333333333%;
  }

  .col-sm-11 {
    width: 91.6666666667%;
  }

  .col-sm-12 {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .col-md-1 {
    width: 8.3333333333%;
  }

  .col-md-2 {
    width: 16.6666666667%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33.3333333333%;
  }

  .col-md-5 {
    width: 41.6666666667%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 58.3333333333%;
  }

  .col-md-8 {
    width: 66.6666666667%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-10 {
    width: 83.3333333333%;
  }

  .col-md-11 {
    width: 91.6666666667%;
  }

  .col-md-12 {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .col-lg-1 {
    width: 8.3333333333%;
  }

  .col-lg-2 {
    width: 16.6666666667%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-4 {
    width: 33.3333333333%;
  }

  .col-lg-5 {
    width: 41.6666666667%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-7 {
    width: 58.3333333333%;
  }

  .col-lg-8 {
    width: 66.6666666667%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-10 {
    width: 83.3333333333%;
  }

  .col-lg-11 {
    width: 91.6666666667%;
  }

  .col-lg-12 {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .col-xl-1 {
    width: 8.3333333333%;
  }

  .col-xl-2 {
    width: 16.6666666667%;
  }

  .col-xl-3 {
    width: 25%;
  }

  .col-xl-4 {
    width: 33.3333333333%;
  }

  .col-xl-5 {
    width: 41.6666666667%;
  }

  .col-xl-6 {
    width: 50%;
  }

  .col-xl-7 {
    width: 58.3333333333%;
  }

  .col-xl-8 {
    width: 66.6666666667%;
  }

  .col-xl-9 {
    width: 75%;
  }

  .col-xl-10 {
    width: 83.3333333333%;
  }

  .col-xl-11 {
    width: 91.6666666667%;
  }

  .col-xl-12 {
    width: 100%;
  }
}
@media (min-width: 1400px) {
  .col-xxl-1 {
    width: 8.3333333333%;
  }

  .col-xxl-2 {
    width: 16.6666666667%;
  }

  .col-xxl-3 {
    width: 25%;
  }

  .col-xxl-4 {
    width: 33.3333333333%;
  }

  .col-xxl-5 {
    width: 41.6666666667%;
  }

  .col-xxl-6 {
    width: 50%;
  }

  .col-xxl-7 {
    width: 58.3333333333%;
  }

  .col-xxl-8 {
    width: 66.6666666667%;
  }

  .col-xxl-9 {
    width: 75%;
  }

  .col-xxl-10 {
    width: 83.3333333333%;
  }

  .col-xxl-11 {
    width: 91.6666666667%;
  }

  .col-xxl-12 {
    width: 100%;
  }
}
.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

* {
  font-family: "Montserrat", sans-serif;
}

/* Normalize */
ul {
  list-style: none;
  padding: 0;
  width: 100%;
}
ul li {
  width: 100%;
}
ul li a {
  display: block;
}
ul li a i {
  margin-right: 16px;
}

/* Main Containers */
main {
  width: calc(100% - 300px);
  margin-left: 300px;
}

nav.menu {
  width: 300px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #1E274E;
}
nav.menu .menu-links {
  width: 90%;
  margin-left: 10%;
  min-height: 500px;
  display: flex;
  align-items: center;
}

ul > li a {
  color: #fff;
  font-size: 20px;
  padding: 20px 0;
  font-weight: 500;
  transition: 0.25s all ease-in-out;
}
ul > li a:hover {
  box-shadow: 0px 0px 8px -4px white;
  /* border-radius: 10px 0 0 10px; */
  padding-left: 20px;
  cursor: pointer;
}

ul > li ul > li a {
  padding-left: 10px;
  background: #131A36;
  font-size: 15px;
  padding: 15px 0 15px 10px;
}
ul > li ul > li a:hover {
  box-shadow: 0px 0px 8px 0px #131A36;
  /* border-radius: 0 50px 50px 0; */
  color: #131A36;
  background: #fff;
  font-weight: 700;
  text-transform: uppercase;
  border-left: 10px solid #131A36;
}

ul > li ul > li ul > li a {
  font-size: 12px;
}

ul > li {
  margin-left: 0px;
  position: relative;
}
ul > li > ul {
  display: none;
  position: absolute;
  z-index: 1;
}
ul > li:hover > ul {
  display: block;
}
ul > li ul > li {
  margin-left: 50px;
  position: relative;
}
ul > li ul > li > ul {
  display: none;
  position: absolute;
  z-index: 1;
}
ul > li ul > li:hover > ul {
  display: block;
}
ul > li ul > li ul > li {
  margin-left: 100px;
  position: relative;
}
ul > li ul > li ul > li > ul {
  display: none;
  position: absolute;
  z-index: 1;
}
ul > li ul > li ul > li:hover > ul {
  display: block;
}
* {
  font-family: "Montserrat", sans-serif;
}

.toast {
  width: 300px;
  padding: 16px;
  border-radius: 5px;
  position: absolute;
  display: flex;
  box-shadow: 1px 1px 6px 2px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  margin-bottom: 16px;
}
.toast_close {
  position: absolute;
  right: 12px;
  top: 12px;
  color: #000;
}
.toast_close:hover {
  opacity: 0.75;
  cursor: pointer;
}
.toast_image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../img/Sass.png");
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100%;
  box-shadow: 2px 0px 5px -2px rgba(0, 0, 0, 0.5);
}
.toast_info {
  margin-left: 104px;
}
.toast_title {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 16px;
}
.toast_description {
  font-size: 12px;
  margin: 0 0 12px 0;
}
.toast_btn {
  border: none;
  border-radius: 5px;
  height: 30px;
  padding-left: 16px;
  padding-right: 16px;
  float: right;
  background: #000;
  color: #fff;
  font-weight: 600;
  outline: none;
}
.toast_btn:hover {
  opacity: 0.75;
  cursor: pointer;
}
.toast-simple .toast_info {
  margin-left: 4px;
  width: 100%;
}
.toast-left-bottom, .toast-bottom-left {
  position: fixed;
  left: 16px;
  bottom: 16px;
}
.toast-left-top, .toast-top-left {
  position: fixed;
  left: 16px;
  top: 16px;
}
.toast-right-bottom, .toast-bottom-right {
  position: fixed;
  right: 16px;
  bottom: 16px;
}
.toast-right-top, .toast-top-right {
  position: fixed;
  right: 16px;
  top: 16px;
}

.toast-primary {
  background: #2264dd;
  color: #fff;
}
.toast-primary .toast_close {
  color: #fff;
}
.toast-primary .toast_btn {
  color: #2264dd;
  background: #fff;
}

.toast-secondary {
  background: #3acf5f;
  color: #fff;
}
.toast-secondary .toast_close {
  color: #fff;
}
.toast-secondary .toast_btn {
  color: #3acf5f;
  background: #fff;
}

.toast-success {
  background: #31850a;
  color: #fff;
}
.toast-success .toast_close {
  color: #fff;
}
.toast-success .toast_btn {
  color: #31850a;
  background: #fff;
}

.toast-danger {
  background: #f60d0d;
  color: #fff;
}
.toast-danger .toast_close {
  color: #fff;
}
.toast-danger .toast_btn {
  color: #f60d0d;
  background: #fff;
}

.toast-dark {
  background: black;
  color: #fff;
}
.toast-dark .toast_close {
  color: #fff;
}
.toast-dark .toast_btn {
  color: black;
  background: #fff;
}

.toast-blue {
  background: #6571da;
  color: #fff;
}
.toast-blue .toast_close {
  color: #fff;
}
.toast-blue .toast_btn {
  color: #6571da;
  background: #fff;
}

.toast-orange {
  background: #ce890a;
  color: #fff;
}
.toast-orange .toast_close {
  color: #fff;
}
.toast-orange .toast_btn {
  color: #ce890a;
  background: #fff;
}

.toast-white {
  background: #fff;
  color: #fff;
}
.toast-white .toast_close {
  color: #fff;
}
.toast-white .toast_btn {
  color: #fff;
  background: #fff;
}

.card_, .ucard {
  background: #fff;
  border-radius: 4px;
  padding: 16px;
  box-shadow: 1px 1px 12px 0px rgba(0, 0, 0, 0.2);
}

.avatar_, .ucard > img {
  width: 100px;
  height: 100px;
  border-radius: 100px;
}

.title_, .ucard > h3 {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 12px;
  opacity: 0.85;
}

.main-title, .ucard > h3 {
  border-left: 5px solid #13196d;
}

.small_, .ucard > small {
  font-weight: 400;
  font-size: 12px;
  opacity: 0.75;
}

.ucard {
  max-width: 300px;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
