%btn {
  height: 40px;
  min-width: 100px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  margin: 5px 0;
  box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.2);

  &:hover {
    cursor: pointer;
  }
}





/* 
*   Solid Buttons
*/

.btn- {
  &Primary, &Success, &Danger{
    @extend %btn;
  }

  &Primary {
    background: $thrre;
  }
  &Success {
    background: rgb(101, 185, 101);
  }
  &Danger {
    background: rgb(231, 47, 56);
  }
}

/* 
.btn-Primary {
  @extend %btn;
  background: $thrre;
}

.btn-Success {
  @extend %btn;
  background: rgb(40, 192, 40);
}

.btn-Danger {
  @extend %btn;
  background: rgb(231, 47, 56);
}
 */


/* Opcional */


/* .btn- {
  &Primary {
    @extend %btn;
    background: $thrre;
  }

  &Success {
    @extend %btn;
    background: rgb(40, 192, 40);
  }

  &Danger {
    @extend %btn;
    background: rgb(231, 47, 56);
  }
} */

/* 
*   Outline Buttons
*/


.btn-outline{
  height: 40px;
  min-width: 100px;
  background: none;
  border-radius: 5px;
  font-size: 16px;
  margin: 5px 0;
  box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.5s all ease-in-out;

  &-Primary{
    border: 1px solid $one;
    color: $one;
    &:hover{
      background: $one;
      color: #fff;
    }
  }

  &-Segundary{
    border: 1px solid rgb(40, 192, 40);
    color: rgb(40, 192, 40);
    &:hover{
      background: rgb(40, 192, 40);
      color: #fff;

    }
  }

  &-Danger{
    border: 1px solid rgb(231, 47, 56);
    color: rgb(231, 47, 56);
    &:hover{
      background: rgb(231, 47, 56);
      color: #fff;

    }
  }
}
 


/* 
*   Interpolacion con @mixin/@include
*/

@mixin button ($namee, $color){
  .btn-outline-#{$namee}{
    border: 1px solid $color;
    color: $color;
    &:hover{
      background: $color;
      color: #fff;
    }
  }
}


@include button("Primary_", $thrre );
@include button("Segundary_", rgb(0, 255, 0) );
@include button("Danger_", rgb(129, 3, 9) );


@mixin size ($h, $w, $p, $m, $bg) {
  height: $h;
  width: $w;
  padding: $p;
  margin: $m;
  background: darken($color: $bg , $amount: 20) /* lightness($color: #000000) mix($color: #000000, $color: #000000, $weight: 0.5) */ ;
}

.im{
  &-container{
    @include size(100px, 100px, 1rem, 1rem, red);
    &-big{
    @include size(250px, 350px, 1rem, 1rem, blue);
    }
  }
}


.cubit{
  @include size(50px, 50px, 1rem, 1rem, white);
  
  &-a{
    background: rgb(40, 148, 175);
  }
  &-b{
    background: rgb(233, 102, 16);
  }
  &-c{
    background: rgb(87, 10, 77);
  }
}
